<div ng-controller="ControllerUsuario as usuario">

    <h1> {{usuario.nick}} </h1>

    <div class="container">
        <label>Nombre</label>
        <input type="text" ng-model="usuario.nombre" placeholder={{usuario.nombre}}>
    </div>
    <div class="container">
        <label>Mail</label>
        <input type="text" ng-model="usuario.email" placeholder={{usuario.email}}>
    </div>
    <div class="container"  >
        <label>Direccion</label>
        <input type="text" ng-model="usuario.direccion" placeholder={{usuario.direccion}}>
    </div>
    <div align="right">
        <button class="btn btn-default" ng-click="usuario.setearCambios()">
            Guardar
        </button>
    </div>

    <h3> Pedidos Anteriores </h3>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Pizzas</th>
            <th>Direccion</th>
            <th>Monto</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="pedido in usuario.pedidosAnteriores">
            <td>{{pedido.pizza}}</td>
            <td>{{pedido.direccion}}</td>
            <td>{{pedido.monto}}</td>
            <td> <a ng-click="usuario.repetirPedido(pedido)"> Repetir Pedido </a> </td>
        </tr>
        </tbody>
    </table>


</div>