<div ng-controller="ControllerUsuario as ctrlUsuario">

    <h1> {{ctrlUsuario.usuario.nick}} </h1>

    <div class="container">
        <label><h3>Nombre</h3>
        <input class="form-control" type="text" ng-model="usuario.nombre" placeholder={{ctrlUsuario.usuario.nombre}}>
        </label>
    </div>
    <div class="container">
        <label><h3>Mail</h3>
        <input class="form-control" type="text" ng-model="usuario.email" placeholder={{ctrlUsuario.usuario.email}}>
        </label>
    </div>
    <div class="container"  >
        <label><h3>Direccion</h3>
        <input class="form-control" type="text" ng-model="usuario.direccion" placeholder={{ctrlUsuario.usuario.direccion}}>
        </label>
    </div>
    <div align="right">
        <button class="btn btn-default" ng-click="ctrlUsuario.setearCambios()">
            Guardar
        </button>
    </div>

    <h3> Pedidos Anteriores </h3>

    <table class="table table-striped table-hover">
        <thead>
        <tr>
            <th>Pizzas</th>
            <th>Direccion</th>
            <th>Monto</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr data-ng-repeat="pedido in ctrlUsuario.pedidosAnteriores">
            <td>
                <dd data-ng-repeat=" plato in pedido.platos">
                    <h6>{{plato.pizza.nombre}}</h6>
                </dd>
            </td>
            <td>{{pedido.montoFinalPedido()}}</td>
            <td> <a ng-click="ctrlUsuario.repetirPedido(pedido)"> Repetir Pedido </a> </td>
        </tr>
        </tbody>
    </table>


</div>