<!--Login SOLO SE MUESTRA SI NO HAY USUARIO LOGUEADO NI SE QUIERE REGISTRAR USUARIO-->
<div class="row" >
    <form class="form-signin col-lg-6 col-lg-offset-3 text-center">
        <h2 class="form-signin-heading bg-primary">Iniciar sesion</h2>
        <div class="col-md-12">
            <br>
            <div class="row">
                <label class="col-md-5" for="nick">Usuario</label>
                <input class="col-md-6" type="text" class="form-control" name="nick" ng-model="ctrl.nick" placeholder="Nombre de usuario"
                       required="" autofocus="" />
            </div>
            <br>
            <div class="row">
                <label class="col-md-5" for="pass">Contrasena</label>
                <input class="col-md-6" type="password" class="form-control" name="pass" ng-model="ctrl.pass" placeholder="contrasena" required=""
                />
            </div>
            <div class="row">
                <hr />
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-offset-3 text-center">
                    <button class="btn btn-lg btn-primary" ng-click="ctrl.loguear()">Login</button>
                    <a ng-click="ctrl.toogleRegistrar()">Registrarse</a>
                </div>
            </div>
        </div>
    </form>
</div>