<div ng-controller="MenuController as menu" class="container">


    <div ng-controller="exceptionController as exception">
        <p><h6>excepciones </h6></p>
        <div>
            <button ng-click="exception.notificarErrores(123123)"></button>
        </div>

        <div class="text-info animate-repeat" ng-repeat="error in exception.errores">{{error}}</div>
        <div class="alert alert-danger animate-repeat" ng-repeat="mensaje in exception.mensajes">{{mensaje}}</div>
    </div>


    <div class="container">
        <h1>¡Elige tu pizza ideal!</h1>
    </div>

    <div class="container">
        <button ng-click="menu.errorHandler(123123)"></button>
    </div>


    <table class="table table-striped table-hover">

        <tbody data-ng-repeat="pizza in menu.pizzas">
        <tr>
            <td>
                <dl>
                    <dt>
                        <h5>{{pizza.nombre}}</h5>
                    </dt>

                    <dd class="list-inline" data-ng-repeat=" ingrediente in pizza.ingredientes">
                        <h6> {{ingrediente.nombre}}</h6>
                    </dd>
                </dl>
            </td>
            <td>${{pizza.precioBase}}</td>
            <td>
                <button class="btn btn-default glyphicon glyphicon-chevron-right"
                        ng-click="menu.crearPedido(pizza,user.nick)">
                </button>
            </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
            <td>
                <p>¡Armá tu propia pizza!</p>
            </td>
            <td>$75</td>
            <td>
                <button class="btn btn-default glyphicon glyphicon-chevron-right"
                        ng-click="menu.crearPizzaCustom(user.nick)"></button>

            </td>
        </tr>
        </tbody>
    </table>

</div>
