<div ng-controller="controllerTamanioPlato as pizzaController" class="container">


    <label>
        <h1>{{pizzaController.plato.pizza.nombre}}</h1>
        <h3>${{pizzaController.plato.pizza.precioBase}}</h3>
    </label>

    <div class="container">
        <table class="table table-striped table-hover">

            <tbody data-ng-repeat="unTamanio in pizzaController.tamanios">
            <tr>
                <td>
                    {{unTamanio.nombre}}
                </td>
                <td>${{pizzaController.calcularTamanio(unTamanio)}}</td>
                <td>
                    <button class="btn btn-default glyphicon glyphicon-chevron-right"
                            ng-click="pizzaController.agregarTamanioAlPlato(unTamanio)"></button>
                </td>
            </tr>
            </tbody>


        </table>
    </div>
</div>