<div ng-controller="controllerPromocion as menuDePromociones" class="container">

    <div>
        <dl ng-repeat="mensaje in menuDePromociones.excepciones">
            <p> {{mensaje}} </p>
        </dl>
    </div>

    <div class="container">
        <h1>¡Elige tu pizza ideal!</h1>
    </div>

    <div class="container">
        <button ng-click="menuDePromociones.errorHandler(123123)"></button>
    </div>


    <table class="table table-striped table-hover">

        <tbody data-ng-repeat="pizza in menuDePromociones.pizzas">
        <tr>
            <td>
                <dl>
                    <dt>
                        <h5>{{pizza.nombre}}</h5>
                    </dt>

                    <dd class="list-inline" data-ng-repeat=" ingrediente in pizza.ingredientes">
                        <h6> {{ingrediente.nombre}}</h6>
                    </dd>
                </dl>
            </td>
            <td>${{pizza.precioBase}}</td>
            <td>
                <button class="btn btn-default glyphicon glyphicon-chevron-right"
                        ng-click="menuDePromociones.crearPedido(pizza,user.nick)">
                </button>
            </td>
        </tr>
        </tbody>

        <tbody>
        <tr>
            <td>
                <p>¡Armá tu propia pizza!</p>
            </td>
            <td>$75</td>
            <td>
                <button class="btn btn-default glyphicon glyphicon-chevron-right"
                        ng-click="menuDePromociones.crearPizzaCustom(user.nick)"></button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
