<div ng-controller="controllerPromocion as menuDePromociones">

    <div class="col-md-5 bigRoundedGray">

        <div>
            <h1>¡Elige tu pizza ideal!</h1>
        </div>

        <table class="table table-striped table-hover">

            <tbody data-ng-repeat="pizza in menuDePromociones.pizzas">
            <tr class="ingredientesExtras">
                <td>
                    <dl>
                        <dt>
                            <h5>{{pizza.nombre}}</h5>
                        </dt>

                        <dd class="list-inline" data-ng-repeat=" ingrediente in pizza.ingredientes">
                            <h6> {{ingrediente.nombre}}</h6>
                        </dd>
                    </dl>
                </td>
                <td><span class="label label-danger">${{ pizza.precioBase}}</span></td>
                <td>
                    <button class="btn btn-default glyphicon glyphicon-chevron-right"
                            ng-click="menuDePromociones.crearPedido(pizza)">
                    </button>
                </td>
            </tr>
            </tbody>

        </table>

    </div>

    <div>
        <dl ng-repeat="mensaje in menuDePromociones.excepciones">
            <dd> {{mensaje}} </dd>
        </dl>
    </div>

</div>
