<div ng-controller="controllerTamanioPlato as tamanioController">

    <div style="background-color:whitesmoke;" class="col-md-5 roundedGray"> Tamaño </div>

    <div class="col-md-5 bigRoundedGray">

        <label>
            <h1>{{tamanioController.plato.pizza.nombre}}</h1>
        </label>

        <div>
            <table class="table table-responsive">

                <tbody ng-repeat="unTamanio in tamanioController.tamanios">

                    <tr class="tamanios">
                        <td style="width:70%">{{ unTamanio.nombre }}</td>
                        <td style="width:20%">
                            <span class="label label-danger">${{ tamanioController.calcularTamanio(unTamanio) }}</span>
                        </td>
                        <td style="width:10%">
                            <button class="btn btn-default glyphicon glyphicon-chevron-right"
                                    ng-click="tamanioController.agregarTamanioAlPlato(unTamanio)">
                            </button>
                        </td>
                    </tr>

                </tbody>

            </table>
        </div>

    </div>

    <div>
        <dl ng-repeat="mensaje in tamanioController.excepciones">
            <dd> {{mensaje}} </dd>
        </dl>
    </div>

</div>