<style>
    h4.gray {
        color: #787878;
    }

    tr.ingredientesExtras {
        background-color: rgb(240, 240, 240);
        padding-top: 15em;
        padding-bottom: 15em;
    }

    tr.ingredientes {
        background-color: rgb(200, 200, 200);
        padding-top: 15em;
        padding-bottom: 15em;
    }

    div.roundedGreen {
        border-radius: 5px;
        border: 2px solid rgb(170, 230, 75);
        padding:5px;
    }

    div.roundedGray {
        border-radius: 2px;
        border: 2px solid rgb(220, 220, 220);
        padding: 5px;
        clear: both;
    }

    div.bigRoundedGray {
        clear: both;
        border-radius: 2px;
        border: 2px solid rgb(220, 220, 220);
        padding: 10px;
    }

</style>


<div ng-controller="controllerPlato as platoAMostrar">
    
    <div style="background-color:whitesmoke;" class="col-md-5 roundedGray"> Tamaño > Ingredientes</div>

    <div class="bigRoundedGray col-md-5">

        <div>
    
            <label><h1>{{ platoAMostrar.plato.pizza.nombre }}</h1></label>
            <label><h4 class="gray">{{ platoAMostrar.plato.tamanio.nombre }}</h4></label>
            <label><h4>{{ platoAMostrar.plato.pizza.precio }}</h4></label>
    
        </div>

        <div class="col-md-8 table-responsive">
    
            <table class="table" style="border-collapse: collapse">
        
                <tbody ng-repeat="ingrediente in platoAMostrar.ingredientes">
                    <tr class="ingredientes">
                        <td>
                            <label class="col-md-4"><h5>{{ ingrediente.nombre }}</h5></label>   
                            <div class="col-md-7">                         
                                <input type="radio" ng-model="ingrediente.distribucion" value="Izquierda"> Mitad Izquierda <br>
                                <input type="radio" ng-model="ingrediente.distribucion" value="Todo"> Todo <br>
                                <input type="radio" ng-model="ingrediente.distribucion" value="Derecha"> Mitad Derecha
                            </div>
                        </td>
                    </tr>
                </tbody>
        
                <tbody ng-repeat="ingrediente in platoAMostrar.plato.ingredientesExtras">
                        <tr class="ingredientesExtras">
                            <td>
            
                                    <label class="col-md-4"><h5>{{ ingrediente.nombre }}</h5></label>
                                    <div class="col-md-7">
                                        <input type="radio" ng-model="ingrediente.distribucion" value="Izquierda"> Mitad Izquierda <br>
                                        <input type="radio" ng-model="ingrediente.distribucion" value="Todo"> Todo <br>
                                        <input type="radio" ng-model="ingrediente.distribucion" value="Derecha"> Mitad Derecha
                                    </div>
                                    <button class="btn btn-default btn-sm col-md-1" ng-click="platoAMostrar.quitar(ingrediente)">X</button>
                            
                            </td>
                        </tr>
                    </tbody>
        
            </table>

        </div>

        <div class="col-md-4 roundedGreen">
        
            <label><h3>Extras:</h3></label>
    
            <ul style="list-style-type:none" ng-repeat="ingrediente in platoAMostrar.ingredientesExtras">
                <li><a href ng-click="platoAMostrar.agregar(ingrediente)"> + {{ ingrediente.nombre }} {{ ingrediente.precio }}</a></li><br>
            </ul>
    
            <button class="btn btn-primary" ng-click="platoAMostrar.confirmarme()">
                Continuar
            </button>
    
        </div>

    </div>
    
</div>