<div ng-controller="ControllerConfirmar as controllerConfirmar">

    <div style="background-color:whitesmoke;" class="col-md-5 roundedGray"> Tamaño > Ingredientes > Confirmar </div>

    <div class="col-md-5 bigRoundedGray">

        <h1>Pedido</h1>

        <h2>Pizzas</h2>

        <table>

            <tbody data-ng-repeat="plato in controllerConfirmar.pedido.platos">

                <tr>
                    <td>
                        <h5>{{plato.pizzaBase.nombre}} </h5>
                        <dd data-ng-repeat=" ingrediente in plato.pizzaBase.ingredientes">
                            <h6>{{ingrediente.nombre}}</h6>
                        </dd>
                        <dd data-ng-repeat=" ingredienteExtra in plato.ingredientesExtras">
                            <h6>{{ingredienteExtra.nombre}}</h6>
                        </dd>
                    </td>
                    <td><span class="badge badge-important">${{plato.precioTotal()}}</span></td>
                    <td>
                        <button class="btn btn-default" ng-click="controllerConfirmar.cancelarPizza(plato)">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>

            </tbody>

        </table>

        <a ng-click="controllerConfirmar.linkAMenuPromo()"> Agregar otra pizza </a>

        <h2>Aclaraciones</h2>

        <input type="text" ng-model="controllerConfirmar.pedido.aclaraciones" placeholder="ej: Sin aceitunas por favor!">

        <h2>Envío</h2>

        <div class="radio">
            <label>
                <input type="radio" ng-model="controllerConfirmar.pedido.formaDeEnvio"
                     ng-value="controllerConfirmar.retiroPorLocal()"> Retiro por local
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="controllerConfirmar.pedido.formaDeEnvio"
                    ng-value="controllerConfirmar.delivery()"> Delivery
                <span class="badge badge-important">  ${{controllerConfirmar.delivery.costo}}</span>
                <input  type="text" ng-model="controllerConfirmar.delivery.direccion" placeholder="Indique su direccion">
            </label>
        </div>

        <div>
            <label><h1>Total a pagar:</h1></label>
            <span class="badge badge-important">  <h4>${{controllerConfirmar.pedido.montoFinalPedido()}}</h4> </span>
            <button class="btn btn-primary" ng-click="controllerConfirmar.confirmarPedido()">
                Confirmar Pedido
            </button>

        </div>

    </div>
    <div>
        <dl ng-repeat="mensaje in controllerConfirmar.excepciones">
            <dd> {{mensaje}} </dd>
        </dl>
    </div>
</div>