<div ng-controller="MenuController as menu" class="container">
    <table class="table table-striped table-hover">

        <tbody data-ng-repeat="pizza in menu.promociones">
        <tr>
            <td>
                <dl>
                    <dt>
                        <h5>{{pizza.nombre}}</h5>
                    </dt>

                    <dd class="list-inline" data-ng-repeat=" ingrediente in pizza.ingredientes">
                        <h6> {{ingrediente.nombre}}</h6>
                    </dd>
                </dl>
            </td>
            <td>${{pizza.precio}}</td>
            <td>
                <button class="btn btn-default glyphicon glyphicon-triangle-right"
                        ng-click="menu.crearPedido(pizza,user.nick)">
                </button>
            </td>
        </tr>
        </tbody>

        <tfoot>
        <tr>
            <td>
                <p>¡Armá tu propia pizza!</p>
            </td>
            <td>$75</td>
            <td>
                <button class="btn btn-default glyphicon glyphicon-triangle-right"
                        ng-click="menu.crearPizzaCustom(user.nick)">

                </button>
                <!--Prueba de HREF-->
                <button class="btn btn-default glyphicon glyphicon-triangle-right"
                        ng-click="menu.crearPizzaCustom(user.nick)"></button>

            </td>
        </tr>
        </tfoot>
    </table>
</div>