h4.gray {
    color: rgb(120, 120, 120);
}

h4.green {
    color: rgb(20, 120, 30);
}

tr.ingredientesExtras {
    background-color: rgb(240, 240, 240);
    font-size: 15px;
}

tr.ingredientes {
    background-color: rgb(200, 200, 200);
    font-size: 15px;
}

tr.tamanios {
    background-color: rgb(240, 240, 240);
    font-size: 15px;
}

div.roundedGreen {
    border-radius: 5px;
    border: 2px solid rgb(155, 225, 120);
    padding:5px;
}

div.roundedGray {
    clear: both;
    border-radius: 5px;
    border: 2px solid rgb(220, 220, 220);
    padding: 5px;
    margin: 5px;
}

div.bigRoundedGray {
    clear: both;
    border-radius: 5px;
    border: 2px solid rgb(220, 220, 220);
    padding: 10px;
    margin: 5px;
}

ul {
    padding: 5px;
    margin: 0;
    list-style-type: none;
}