h4.gray {
    color: #787878;
}

tr.ingredientesExtras {
    background-color: rgb(240, 240, 240);
    padding-top: 15em;
    padding-bottom: 15em;
}

tr.ingredientes {
    background-color: rgb(200, 200, 200);
    padding-top: 15em;
    padding-bottom: 15em;
}

div.roundedGreen {
    border-radius: 5px;
    border: 2px solid rgb(170, 230, 75);
    padding:5px;
}

div.roundedGray {
    border-radius: 2px;
    border: 2px solid rgb(220, 220, 220);
    padding: 5px;
    clear: both;
}

div.bigRoundedGray {
    clear: both;
    border-radius: 2px;
    border: 2px solid rgb(220, 220, 220);
    padding: 10px;
}