<!DOCTYPE html>
<html lang="en" ng-app="dominosApp">

<head>
    <meta charset="UTF-8">
    <title>Domino's</title>

    <!-- JQUERY -->
    <script src="node_modules/jquery/dist/jquery.min.js"></script>

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>

    <!-- ANGULAR  -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.min.js"></script>

    <!-- UNDERSCORE -->
    <script src="node_modules/underscore/underscore-min.js"></script>

</head>

<body>
    <div ng-controller="controllerLoginReg as ctrl">
        <!--ENCABEZADO solo se muestra si hay ususario logueado-->
        <div ng-show="ctrl.estaLogueado">
            <ul class="list-inline">
                <li class="list-group-item"><a ui-sref="#Menu">Menu</a></li>
                <li class="list-group-item"> {{ctrl.usuarioLogueado.nick}}</li>
            </ul>
        </div>

        <!--Login SOLO SE MUESTRA SI NO HAY USUARIO LOGUEADO NI SE QUIERE REGISTRAR USUARIO-->
        <div ng-show="ctrl.login">
            <form class="form-signin">
                <h2 class="form-signin-heading">Iniciar sesion</h2>
                <div class="row">
                    <div class=".col-md-4 .col-md-offset-4">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-5" for="username">Usuario</label>
                                <input class="col-md-7" type="text" class="form-control" name="username" ng-model="ctrl.nick" placeholder="Nombre de usuario"
                                    required="" autofocus="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-6" for="username">Contrasena</label>
                                <input class="col-md-7" type="password" class="form-control" name="pass" ng-model="ctrl.pass" placeholder="contrasena" required=""
                                />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="col-md-6 btn btn-lg btn-primary" ng-click="ctrl.loguear()">Login</button>
                            <a class="col-md-6" ng-click="ctrl.toogleRegistrar()">Registrarse</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <!--SOLO SE MUESTRA SIS SE QUIERE REGISTRAR UN USUARIO-->

        <div ng-show="ctrl.registro">
            <form class="form-signin">
                <h2 class="form-signin-heading bg-primary">Registrarse</h2>
                <div class="row">
                    <div class=".col-md-4 .col-md-offset-4">
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-5" for="username">Usuario</label>
                                <input class="col-md-7" type="text" class="form-control" name="username" ng-model="ctrl.nick" placeholder="Nombre de usuario"
                                    required="" autofocus="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-6" for="pass">Contrasena</label>
                                <input class="col-md-7" type="password" class="form-control" name="pass" ng-model="ctrl.reg.pass" placeholder="contrasena" required=""
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-6" for="passrep">Repita la contrasena</label>
                                <input class="col-md-7" type="password" class="form-control" name="passrep" ng-model="ctrl.reg.passrep" placeholder="contrasena" required=""
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-6" for="nombre">Nombre</label>
                                <input class="col-md-7" type="text" class="form-control" name="nombre" ng-model="ctrl.reg.nombre" placeholder="Ingrese la direccion"
                                    required="" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-6" for="mail">Mail</label>
                                <input class="col-md-7" type="email" class="form-control" name="mail" ng-model="ctrl.reg.mail" placeholder="Ingrese el mail" required=""
                                />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="col-md-6" for="direccion">Direccion</label>
                                <input class="col-md-7" type="text" class="form-control" name="direccion" ng-model="ctrl.reg.direccion" placeholder="Ingrese la direccion"
                                    required="" />
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="col-md-6 btn btn-lg btn-primary" type="submit" ng-click="ctrl.registrar()" >Registrarse</button>
                            <a class="col-md-6" ng-click="ctrl.invitado()">Ingresar como INVITADO</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>



    <!-- Routing-->
    <div class="well-lg">
        <div ui-view></div>
    </div>


    <!-- JS -->
    <script src="js/Classes.js"></script>
    <script src="js/app.js"></script>
    <script src="js/routes.js"></script>

    <!-- Servicios-->
    <script src="js/PlatoService.js"></script>
    <script src="js/MenuService.js"></script>
    <script src="js/PedidoTemporalService.js"></script>
    <script src="js/services/loginService.js"></script>
    <script src="js/services/exceptionService.js"></script>
    <script src="js/services/tamanioService.js"></script>
    <script src="js/services/PedidoService.js"></script>
    <!--Controladores -->
    <script src="js/controllerLoginReg.js"></script>
    <script src="js/controllerTamanioPlato.js"></script>
    <script src="js/controllerMenu.js"></script>
    <script src="js/controllerCliente.js"></script>
    <script src="js/controllerTamanioPlato.js"></script>
    <script src="js/controllerConfirmar.js"></script>
    <script src="js/controllerPlato.js"></script>

</body>

</html>